.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.prevNextButton {
  border: none;
  background-color: green;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: Roboto;
  border-radius: 5px;
  cursor: pointer;
}
.prevNextButtonOver {
  border: none;
  background-color: gray;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: Roboto;
  border-radius: 5px;
  opacity: 0.5;
  cursor: not-allowed;
}
.currentPage {
  font-size: 12px;
  font-weight: bold;
  font-family: Roboto;
  margin-left: 10px;
  margin-right: 10px;
}